<% var namespace = _.camelize(appname).toLowerCase(); %>
!!! 5
html
    head
        title= title
        meta(content="width=device-width, minimum-scale=1.0, maximum-scale=1.0", name="viewport")
        link(href="/images/favicon.png",type="image/x-icon",rel="shortcut icon")
        - if (process.env.NODE_ENV == 'production')
            link(rel='stylesheet', href='/stylesheets/eso-theme.min.css')
            link(rel='stylesheet', href='/stylesheets/project.min.css')
            link(rel='stylesheet', href='/stylesheets/jquery-fileupload-ui.min.css')
            link(rel='stylesheet', href='/stylesheets/fonts/font-awesome/css/font-awesome.min.css')
            - if (user && user.isFirstLogin)
                link(rel='stylesheet', href='/stylesheets/style.min.css')
                link(rel='stylesheet', href='/stylesheets/custom.min.css')
        - else
            link(rel='stylesheet', href='/stylesheets/eso-theme.css')
            link(rel='stylesheet', href='/stylesheets/project.css')
            link(rel='stylesheet', href='/stylesheets/fonts/font-awesome/css/font-awesome.min.css')
            link(rel='stylesheet', href='/stylesheets/jquery-fileupload-ui.css')
            - if (user && user.isFirstLogin)
                link(rel='stylesheet', href='/stylesheets/style.css')
                link(rel='stylesheet', href='/stylesheets/custom.css')

    body
        div#wrapper
            block header
                header#eso-topbar.clearfix
                    a(onclick="<%= namespace %>.navigateTo('')",title="go back home",class="logo")
                    ul(class="quick-menu unstyled clearfix")
                        li(class="dropdown header-user")
                            a(class="dropdown-toggle",data-toggle="dropdown") #{user.username}
                            ul(class="dropdown-menu dropdown-board")
                                li: a(href="/logout") Log Out
                        li(class="dropdown header-user")
                            a(class="dropdown-toggle",data-toggle="dropdown") Board
                            ul(class="dropdown-menu dropdown-board")
                                li: a(onclick="<%= namespace %>.navigateTo('boards/new')") New
                                li: a(onclick="<%= namespace %>.navigateTo('boards/public')") Public Boards
                                li: a(onclick="<%= namespace %>.navigateTo('boards/mine')") My Boards
                                li: a(onclick="<%= namespace %>.navigateTo('boards/closed')") Closed Boards
                        li(class="dropdown header-user js-notification-menu")
                        li(class="dropdown header-user")
                            a(class="dropdown-toggle", onclick="<%= namespace %>.navigateTo('help')") Help
                    input(type="text",class="quick-search",placeholder="search")

            block content

            input(type="hidden", id="piwik-site-id", value="#{siteId}")
            input(type="hidden", id="piwik-site-url", value="#{siteUrl}")

            block footer
                footer(class="footer")
                    div(class="dev-team-logo")
                    div(class="copyright")
                        | <p>Version #{version}</p>
                        | <p>INTERNAL USE ONLY</p>
                        | <p>Copyright &copy; ... All rights reserved.</p>

        block scripts
            script(type="text/javascript", src="/socket.io/socket.io.js")
            script(type="text/javascript", src="/javascripts/vendor/jade/jade.js")
            - if (process.env.NODE_ENV == 'production')
                script(type="text/javascript", src="/javascripts/dist/vendor.min.js")
            - else
                script(type="text/javascript", src="/javascripts/vendor/jquery/jquery.js")
                script(type="text/javascript", src="/javascripts/vendor/jquery.slug.js")
                script(type="text/javascript", src="/javascripts/vendor/async/lib/async.js")
                script(type="text/javascript", src="/javascripts/vendor/markdown/lib/markdown.js")
                script(type="text/javascript", src="/javascripts/vendor/jquery-ui/ui/jquery-ui.js")
                script(type="text/javascript", src="/javascripts/vendor/underscore/underscore.js")
                script(type="text/javascript", src="/javascripts/vendor/backbone/backbone.js")
                script(type="text/javascript", src="/javascripts/vendor/backbone.iobind/dist/backbone.iobind.js")
                script(type="text/javascript", src="/javascripts/vendor/backbone.iobind/dist/backbone.iosync.js")
                script(type="text/javascript", src="/javascripts/vendor/moment/moment.js")
                script(type="text/javascript", src="/javascripts/vendor/bootstrap/dist/js/bootstrap.js")
                script(type='text/javascript', src='/javascripts/vendor/SlitSlider/js/modernizr.custom.79639.js')
                script(type='text/javascript', src='/javascripts/vendor/SlitSlider/js/jquery.ba-cond.min.js')
                script(type='text/javascript', src='/javascripts/vendor/SlitSlider/js/jquery.slitslider.js')
                script(type='text/javascript', src='/javascripts/vendor/blueimp-load-image/js/load-image.min.js')
                script(type='text/javascript', src='/javascripts/vendor/blueimp-file-upload/js/jquery.iframe-transport.js')
                script(type='text/javascript', src='/javascripts/vendor/blueimp-file-upload/js/jquery.fileupload.js')
                script(type='text/javascript', src='/javascripts/vendor/blueimp-file-upload/js/jquery.fileupload-process.js')
                script(type='text/javascript', src='/javascripts/vendor/blueimp-file-upload/js/jquery.fileupload-image.js')
                script(type='text/javascript', src='/javascripts/vendor/blueimp-file-upload/js/jquery.fileupload-validate.js')
  

        script(type="text/javascript", class="piwik-tracker").
            try {
                var siteId = parseInt($("#piwik-site-id").val());
                var siteUrl = $("#piwik-site-url").val();
                var _paq = _paq || [];
                _paq.push(["trackPageView"]);
                _paq.push(["enableLinkTracking"]);
                (function() {
                  var u=(("https:" == document.location.protocol) ? "https" : "http") + "://"+ siteUrl;
                  _paq.push(["setTrackerUrl", u+"piwik.php"]);
                  _paq.push(["setSiteId", siteId]);
                  var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
                  g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
                })();
            } catch( err ) {
                throw new Error('Piwik track error, detail:'+err);
            }
